.header-menu{
    /* text-align: center; */
}

header{
    background-color:#FFFFFF;
    margin:0;
    width:100%;
    /* height:88.9px; */
    padding:15px 0px;
    font-family:"Muli";
    /* position: fixed; */
    /* z-index: 2; */
}

.foto {background-image: url(../img/matthew-hamilton-tNCH0sKSZbA-unsplash.jpg);
    height: 249px;
    weight: 249px;
}

.logo{
    vertical-align: middle;
    /* padding-left: 125px; */
    /* padding-top: 11px; */
}

.header-menu li{
    display: inline-block;
    color:#19345E;
    /* margin:0px 10px; */
    vertical-align: middle;
}

.menu-option{
    /* text-align: center; */
    /* line-height: 88.9px; */
    vertical-align: middle;
}

.menu-option li{
    margin:auto 15px;
}


body{
    margin:0;
    /* height:100%; */  
}

section{
    width:100%;
    margin:20px 0;
}

.aboutme{
    background-color: #F4F7FC;
    width:100%;
    margin:0;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#F47522 !important;
    border:none;

}

#getintouch{
    border-color:#F47522 !important;
    border-radius: 20px !important;
}

table {
    border: 2px;
}

a:hover{
    color:#F47522;
    text-decoration: none;
}

a {
    color:#19345E;
}

#about-me{
    color:#F47522;
}
.fotoorang {  
    
    margin-top: 20px;
    margin-left: 90px;
    padding: 20px;
    border: 1px black transparent;
    border-radius: 10px;

}
.fotobwhorang {
    position: absolute;
    top: 375px;
    right: 400px;

}

h5 {
    color: white;
    font-size: 14px;
}

footer {
    text-align: bottom;
    background-color: #19345E;
    padding: 25px;
}

.footcp {
    text-align: right;
    border-left: 1px grey solid;
    height: 100%;
}